div {
    border: solid 3px black;
    font-size: 35px;
}

body {
    border: solid 1px green;
}

#div1 {
    margin: 50px 25px;
}

#div2 {
    margin: 50px;
}

#div3 {
    width: 200px;
    margin: auto;
}

.padding1 {
    padding:  50px;
}

.padding2 {
    padding: 100px;
}

#box1 {
    border: solid 15px black;
    background-color: yellow;
    width: 100px;
    padding: 100px;
    margin: 50px auto;
}

#content {
    box-sizing: content-box; /* 기본 값 */ 
    background-color: red;
    color: white;
    border: 15px solid black;
    width: 350px;
}

#border {
    box-sizing: border-box;
    background-color: lightblue;
    color: white;
    border: 15px solid darkblue;
    width: 350px;
}