#header {
    display: grid;
    grid-template-columns: 12% 1fr 1fr 1fr;
    position: fixed;
    top: 50;
    left: 0;
    width: 100%;
    border-bottom: 1px solid #333;
    line-height: 34px;
    text-transform: uppercase;  
    height: 35px;
    background: rgb(0, 0, 0);
    font-size: 13px;
    color: white;
    column-gap: 2px;
    
}

ul {
    margin: 0%;
    list-style: none;
}

.logo {
    text-align: center;
    font-size: 20px;
    border-right: 1px solid #333;

}

.nav {
    float: left;
    border-right: 1px solid #333;
    padding: 0 5px;
    color: red;
}


.nav li{
    display: inline-block;
    padding: 0 5px;
    outline: none;
    
    
}